/* (grijs #899CA0 en donkergroen #1C2B32) */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

/* CSS Reset */
* {
    box-sizing: border-box;
    /* Apply to all four sides */
    margin: 0;
    /* Apply to all four sides */
    padding: 0;
}

/* Font Setup */
body {
    /* A font family name and a generic family name */
    font-family: Poppins, sans-serif;
    color: #1C2B32;
}

main {
    max-width: 1000px;
    /* top and bottom | left and right */
    margin: 0 auto;
}

a {
    color: #899CA0;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/

h1, h2 {
    text-align: center;
}

h1 {
    font-weight: 600;
    font-size: 100px;
}

h2 {
    font-weight: 600;
    font-size: 25px;
    /* top and bottom | left and right */
    margin: 50px 0;
}

input, select, textarea, button {
    font-family: inherit;
}

/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/

header {
    background-image: url("/assets/images/mountains.jpg");
    background-size: cover;
    background-position: top;
}

.header-content {
    max-width: 1000px;
    text-align: center;
    /* top and bottom | left and right */
    margin: 0 auto;
    /* top | right | bottom | left */
    padding: 200px 0 350px 0;
}

.header-input {
    background-color: transparent;
    font-size: 15px;
    width: 300px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 50px 0 0 50px;
    margin-top: 25px;
    /* top and bottom | left and right */
    padding: 25px 30px;
    /* width | style | color */
    border: 2px solid #1C2B32;
    outline: none;
}

.header-input::placeholder {
    color: #1C2B32;
    font-size: 15px;
}

.header-button {
    color: #FFF;
    font-size: 15px;
    background-color: #1C2B32;
    margin-left: -5px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 50px 50px 0;
    /* top and bottom | left and right */
    padding: 25px 30px;
    /* width | style | color */
    border: 2px solid #1C2B32;
}

.header-button:hover {
    background-color: #5c8da3;
    /* width | style | color */
    border: 2px solid #5c8da3;
}

/*///////////// 3.2 Testimonial /////////////*/


/*///////////// 3.3 Support /////////////*/

.helpdesk-image {
    /* Radius is set for all 4 sides */
    border-radius: 10px;
    width: 100%;
}

.helpdesk-button {
    margin-top: 10px;
    color: #FFF;
    font-size: 15px;
    background-color: #1C2B32;
    /* Radius is set for all 4 sides */
    border-radius: 50px;
    /* top and bottom | left and right */
    padding: 25px 30px;
    /* width | style | color */
    border: 2px solid #1C2B32;
}

.helpdesk-button:hover {
    background-color: #5c8da3;
    /* width | style | color */
    border: 2px solid #5c8da3;
}

/*///////////// 3.4 Faq /////////////*/

.faq-question {
    /* top and bottom | left and right */
    margin: 20px 0;
}

.faq-answer {
    color: #ffffff;
    background-color: #899CA0;
    /* Radius is set for all 4 sides */
    border-radius: 10px;
    /* Apply to all four sides */
    padding: 20px;
}

.faq-question:hover {
    cursor: pointer;
}

/*///////////// 3.5 Footer /////////////*/